.App {
  width: 100vw;
  height: 100vh;
  background: #070606;
  color: #ffffff;
  font-family: 'Victor Mono', monospace; 
  display: grid;
  place-items: center;
  position: absolute;
  overflow-x: hidden;
}
body ::-webkit-scrollbar {
  display: none;
}

body {

  margin: 0%;
  padding: 0%;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;700;900&family=Victor+Mono:ital,wght@0,100;1,100&display=swap');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400,700");

.joinChatContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.joinChatContainer h3 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}
.joinChatContainer input {
  width: 210px;
  height: 40px;
  margin: 7px;
  border: 2px solid #1A6DFF;
  background-color: transparent ;
  color: white;
  outline:none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
}

.joinChatContainer button {
  width: 225px;
  height: 50px;
  margin: 7px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  font-size: 16px;
  box-sizing: border-box;
  font-family: 'Victor Mono', monospace;

  background-image: linear-gradient(to right, #6DC7FF , #C822FF);
  color: #fff;
  
  cursor: pointer;
  transition: 1s;

}

.joinChatContainer button:hover {

  background: linear-gradient(to right, #1A6DFF , #E6ABFF);
}

.chat-window {
  margin-top: 20px;
  width: 500px;
  /* height: 1000px; */
  
}

.chat-window p {
  margin: 0;
}
.chat-window .chat-header {
  height: 45px;
  border: 1px solid;
  background: rgb(5, 5, 6);
display: flex;
padding: 5px;
  position: relative;
  cursor: pointer;
}
.chat-window .chat-header p {
  display: block;
  margin-left: 7px;
  color: #fff;
  font-size: large;
  font-weight: 700;
  line-height: 45px;
}

.chat-window .chat-body {
  height: calc(600px - (45px + 70px));
  
  border: 1px solid #9ed1ea;
 
  background: rgb(4, 1, 10) ;
  

  position: relative;
}
@media only screen and (max-width: 600px) {
.chat-window {
  width: 300px;
  /* height: 100%; */
  }
}
.chat-window .chat-body .message-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}

.chat-window .chat-body .message-container::-webkit-scrollbar {
  display: none;

}
.chat-window .chat-body .message {
  height: auto;
  padding: 12px;
  display: flex;
}

.chat-window .chat-body .message .message-content {
  width: auto;
  height: auto;
  min-height: 30px;
  max-width: 190px;
   border-radius: 5px;
   /* fallback for old browsers */
   background: #24C6DC;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #514A9D, #24C6DC);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #514A9D, #24C6DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   
  color: white;
  display: flex;
  align-items: center;
  margin-right: 5px;
  margin-left: 5px;
  padding: 4px;
  overflow-wrap: break-word;
  word-break: break-word;
}

#you {
  justify-content: flex-end;
  align-items: center;
}

#you .message-content {
  justify-content: flex-end;
}

#you .message-meta {
  justify-content: flex-end;
  margin-left: 5px;
}

#other {
  justify-content: flex-start;
}

#other .message-content {
  justify-content: flex-end;
  background: #1D2B64;  /* fallback for old browsers */
  background: #AA076B;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #61045F, #AA076B); 
  background: linear-gradient(to right, #61045F, #AA076B); 
  
 }

#other .message-meta {
  justify-content: flex-end;
  margin-right: 5px;
}

.message-meta #author {
  margin-left: 10px;
  font-weight: bold;
}

.chat-window .chat-body .message .message-meta {
  display: flex;
  font-size: 12px;
}

.chat-window .chat-footer {
  height: 40px;
  border: 1px solid #263238;
  border-top: none;
  display: flex;
}

.chat-window .chat-footer input {
  height: 100%;
  flex: 85%;
  border: 0;
  padding: 0 0.7em;
  font-size: 1em;
  border-right: 1px dotted #607d8b;

  outline: none;
  font-family: "Open Sans", sans-serif;
}
.chat-window .chat-footer input{
  background-color: #070606;
  color:white;
  border: 1px solid;
  font-family: "Victor Mono";
}
.chat-window .chat-footer button {
  border: 0;
  display: grid;
  place-items: center;
  cursor: pointer;
  flex: 15%;
  height: 100%;
  background: transparent;
  outline: none;
  border:1px solid;
  background: rgb(0, 0, 0);
  font-size: 25px;
  color: lightgray;
}

.chat-window .chat-footer button:hover {
  color:#E6ABFF;
}
.hide {
  opacity: 0 !important;
}